body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #333;
  color: white;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  padding: 0.1em 3em;
  background-color: black;
}

.strips {
  padding: 1em 1em;
}

.strip {
}

.strip .name {
  float: left;
  width: 4em;
  text-align: center;
  padding-top: 35px;
  background-color: black;
  height: 55px;
  margin-right: 4px;
  font-size: 1.2em;
}

.help {
  padding: 1em 1em;
  width: 900px;
}
